.user-pic-comment {
  border-radius: 50%;
  object-fit: cover;
  width: 75px;
  height: 75px;
}

.name-body {
  display: grid;
  grid-template-rows: 0.1fr 1fr;
}

.date-trash {
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: right;
}

.whole-comment {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  background-color: rgba(130, 232, 255, 0.268);
  border-radius: 15px;
  margin-bottom: 8px;
  width: 90%;
  padding: 15px;
  font-family: sans-serif;
  font-size: 12px;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0, 0, 0, 0.138);
}

.whole-comment-alt {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  background-color: rgb(255 247 221);
  border-radius: 15px;
  padding: 15px;
  width: 90%;
  font-family: sans-serif;
  font-size: 12px;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0, 0, 0, 0.138);
}

.over-whole-comment {
  display: grid;
  justify-items: center;
}

.user-name-comment {
  font-weight: 900;
}

.date-marg {
  margin-top: 16px;
}

.primary-body {
  padding: 8px;
  background: #fff7dd;
  border-radius: 8px;
  margin-top: 8px;
}

.alt-body {
  padding: 8px;
  background: #def9ff;
  border-radius: 8px;
  margin-left: 8px;
  margin-top: 8px;
}
